<h1>Page for GET and POST</h1>

<h1>{{reqMessage}}</h1>
<table>
   {{#each dataList}}
   <tr>
      <td>{{this.name}}</td>
      <td>{{this.value}}</td>
   </tr>
   {{/each}}
</table>

<table>
   {{#each otherDataList}}
   <tr>
      <td>{{this.name}}</td>
      <td>{{this.value}}</td>
   </tr>
   {{/each}}
</table>